<!-- 头部 -->
<%- partial('_partial/header',{}, {cache: true}) %>

<!-- 页面内容 -->
<div class="page-content">
  <div class="page-title">
    <h2><%- __('menu.About') %></h2>
  </div>
  <main class="about-main">
    <!-- 头像部分 -->
    <div class="about-avatar">
      <img src="<%= url_for(theme.about.avatar) %>" alt="avatar" />
    </div>

    <p><%= theme.about.name %></p>

    <!-- 个人描述 -->
    <div class="about-description">
      <p><%= theme.about.description %></p>
    </div>

    <!-- 联系方式 -->
    <div class="about-links">
      <h3>联系方式</h3>
      <div class="links-section">
        <% if (theme.about.email) { %>
        <div class="link-item">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-youxiang"></use>
          </svg>
          <span><%= theme.about.email %></span>
        </div>
        <% } %> <% if (theme.about.wechat) { %>
        <div class="link-item">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-icon"></use>
          </svg>
          <span><%= theme.about.wechat %></span>
        </div>
        <% } %> <% if (theme.about.qq) { %>
        <div class="link-item">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-QQ"></use>
          </svg>
          <span><%= theme.about.qq %></span>
        </div>
        <% } %>
      </div>

      <!-- 社交平台 -->
      <h3>社交平台</h3>
      <div class="links-section">
        <% if (theme.about.github) { %>
        <div class="link-item">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-github"></use>
          </svg>
          <a href="<%= theme.about.github %>" target="_blank">GitHub</a>
        </div>
        <% } %> <% if (theme.about.linkedin) { %>
        <div class="link-item">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-linkedin"></use>
          </svg>
          <a href="<%= theme.about.linkedin %>" target="_blank">LinkedIn</a>
        </div>
        <% } %>
      </div>
    </div>
  </main>
</div>
