<!-- 文章总数 -->
<% var postTotal = site.posts.length; %>

<!-- 每页文章数 -->
<% var perPage = config.per_page; %>

<!-- 获取当前页要显示的文章 -->
<% var postsToShow = site.posts.sort('-date').slice((page.current - 1) *
perPage, page.current * perPage); %>

<!-- 分页变量 -->
<%
<!-- 计算总页数，如果 page.total 未定义，则进行计算 -->
page.total = Math.ceil(postTotal / perPage);

<!--  确保当前页数是有效的，如果 page.current 未定义，则默认为 1 -->
if (!page.current) { page.current = parseInt(page.current) || 1; }

<!-- 确保 base 路径是有效的，如果 page.base 未定义，则默认为 '/archives/' -->
if (!page.base) { page.base = '/archives/'; }

<!--  生成上一页和下一页的链接 -->
page.prev_link = page.current > 1 ? (page.current === 2 ? '' : 'page/' +
(page.current - 1) + '/') : ''; page.next_link = page.current < page.total ?
'page/' + (page.current + 1) + '/' : '';

<!-- // 确定是否有上一页和下一页 -->
page.prev = page.current > 1; page.next = page.current < page.total; %>

<!-- 头部 -->
<%- partial('_partial/header',{}, {cache: true}) %>

<!-- 页面内容 -->
<div class="page-content">
  <div class="page-title">
    <h2><%- __('menu.Archive') %></h2>
  </div>
  <div class="page-body">
    <div class="post-list">
      <p>文章总数：<%= postTotal %></p>
      <p>当前页数： <%= page.current %></p>

      <!-- 定义 lastYear 变量 -->
      <% var lastYear; %> <% postsToShow.each(function(post){ %>
      <!-- 遍历文章 -->
      <% var year = date(post.date, 'YYYY'); %>

      <!-- 如果年份变化，则显示年份标题 -->
      <% if (lastYear !== year) { %>
      <div class="post-year">
        <h3><%= year %></h3>
      </div>
      <% } %>

      <!-- 文章链接 -->
      <a href="<%- url_for(post.path) %>">
        <div class="postItem">
          <p class="postItem-title" title="<%= post.title || '(无标题)' %>">
            <%= post.title || '(无标题)' %>
          </p>
          <p>
            <%= date(post.date, 'YYYY-MM-DD') %> <%
            post.tags.each(function(tag){ %>
            <span class="postItem-tag"><%= tag.name %></span>
            <% }) %>
          </p>
          <p class="postItem-excerpt"><%= post.excerpt || '' %></p>
        </div>
      </a>
      <!-- 更新 lastYear 变量 -->
      <% lastYear = year; %> <% }); %>
    </div>
  </div>
</div>

<!-- 分页 -->
<%- partial('_partial/pagination',{page: page}) %>
