<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_widget/swiper') %>
    <div class="body-page-view"><%- body %></div>
    <%- partial('_partial/footer') %>
    <%- partial('_widget/to-top') %>
  </body>
</html>
