<div id="header-container" class="header-normal">
  <div class="logo">
    <a href="<%- url_for('/') %>">
      <% if (theme.logo) { %>
      <img src="<%- url_for(theme.logo) %>" alt="<%= theme.title %>" />
      <% } else { %> <%= theme.title %> <% } %>
    </a>
  </div>

  <button class="menu-toggle" aria-label="Toggle Menu" aria-expanded="false">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="nav-menu">
    <ul class="nav-list">
      <% if (theme.menu) { %> <% for (let i in theme.menu) { %>
      <li>
        <a href="<%- url_for(theme.menu[i]) %>"><%= __(`menu.${i}`) %></a>
      </li>
      <% } %> <% } %>
    </ul>
  </nav>
</div>
