<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%- favicon_tag(theme.favicon) %><%- css('css/style') %><% var activeTitle =
  page.title || __('activeTitle'); var inactiveTitle = page.title ? (page.title
  + ' - ' + __('inactiveTitle')) : __('inactiveTitle'); %>
  <title><%= activeTitle %></title>

  <!-- 注入配置到全局变量 -->
  <script>
    window.SITE_CONFIG = {
      activeTitle: '<%= activeTitle %>',
      inactiveTitle: '<%= inactiveTitle %>',
    };
  </script>

  <!-- 加载JS文件 -->
  <%- js(['js/head.js', 'js/header.js']) %>
</head>
