<div class="header-container" id="header">
  <div class="logo">
    <a href="<%- url_for('/') %>">
      <% if (theme.logo) { %>
      <img src="<%- url_for(theme.logo) %>" alt="<%= config.title %>" />
      <% } else { %> <%= config.title %> <% } %>
    </a>
  </div>

  <button class="menu-toggle" aria-label="Toggle Menu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="nav-menu">
    <ul class="nav-list">
      <li><a href="<%- url_for('/') %>">首页</a></li>
      <% if (theme.menu) { %> <% for (let i in theme.menu) { %>
      <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
      <% } %> <% } %>
    </ul>
  </nav>
</div>
